// ---------------------------------------------------------------------------
// Imports
$legacy-support-for-ie: false;
@import "susy";
@import "compass/css3/opacity";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 5;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;
$container-style: magic;

$mini           : 0em 5 28em;
$mobile         : 28em 8 46em;
$tablet         : 46em 12 62em;
$desktopsmall   : 62em 14 78em;
$desktopmedium  : 78em 16 88em;
$desktoplarge   : 88em 20 999em;
$media-layout   : 12 lt-ie9;
$show-grid-backgrounds  : true;


// ----------------------
// Fonts
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/chaseiconsneue?v=3.0.1');
  src: url('../fonts/chaseiconsneue.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('../fonts/chaseiconsneue.woff?v=3.0.1') format('woff'),
    url('../fonts/chaseiconsneue.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Interstate';
  src: url('../fonts/interstate?v=3.0.1');
  src: url('../fonts/interstate.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('../fonts/interstate.woff?v=3.0.1') format('woff'),
    url('../fonts/interstate.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
    font-family:"Amplitude";
    src:url("http://chase.com/etc/designs/chasecom/fonts/8b10efc3-e37f-468c-9326-3f261bc2b6e9-2.eot");
    src:url("http://chase.com/etc/designs/chasecom/fonts/8b10efc3-e37f-468c-9326-3f261bc2b6e9-2.eot?") format("embedded-opentype"),url("http://chase.com/etc/designs/chasecom/fonts/8b10efc3-e37f-468c-9326-3f261bc2b6e9-3.woff") format("woff"),url("http://chase.com/etc/designs/chasecom/fonts/8b10efc3-e37f-468c-9326-3f261bc2b6e9-1.ttf") format("truetype"),url("http://chase.com/etc/designs/chasecom/fonts/8b10efc3-e37f-468c-9326-3f261bc2b6e9-4.svg#web") format("svg");font-style:normal;font-weight:normal;}
@font-face{
    font-family:AmplitudeMedium;src:url("http://chase.com/etc/designs/chasecom/fonts/5c91d7e8-9155-43e0-a01c-f4c8b4ab0369-2.eot");src:url("http://chase.com/etc/designs/chasecom/fonts/5c91d7e8-9155-43e0-a01c-f4c8b4ab0369-2.eot?") format("embedded-opentype"),url("http://chase.com/etc/designs/chasecom/fonts/5c91d7e8-9155-43e0-a01c-f4c8b4ab0369-3.woff") format("woff"),url("http://chase.com/etc/designs/chasecom/fonts/5c91d7e8-9155-43e0-a01c-f4c8b4ab0369-1.ttf") format("truetype"),url("http://chase.com/etc/designs/chasecom/fonts/5c91d7e8-9155-43e0-a01c-f4c8b4ab0369-4.svg#web") format("svg");font-style:normal;font-weight:normal;}
html{
    font-family:verdana,arial,helvetica,sans-serif;
}
h3{
    font-weight:normal;
    font-family: 'Amplitude';
    font-size:1.7em;
    strong{
        font-family: 'AmplitudeMedium';
    }
}
.chaseutil-border-right{
    border-right:1px solid #666;
}
button{
    min-width:18em;
    display:block;
    float:left;
    clear:both;
    margin:10px 0;
    padding:10px 0;
    border-radius:5px;
    font-size:0.9em;
    &.chaseui-button-facebook{
        // needs latest Compass, add '@import "compass"' to your scss
        background-color: #0e85b4; // Old browsers
        @include filter-gradient(#0e85b4, #055175, vertical); // IE6-9
        @include background-image(linear-gradient(top,  #0e85b4 0%,#055175 100%));
        color:#FFF;
        border:1px solid #086492;
    }
    &.chaseui-primary{
        background-color: #fafafa; // Old browsers
        @include filter-gradient(#fafafa, #bec6ca, vertical); // IE6-9
        @include background-image(linear-gradient(top,  #fafafa 0%,#bec6ca 100%));
        color:#43444e;
        border:1px solid #bebfbf;
    }
    &.chaseui-submit{
        // needs latest Compass, add '@import "compass"' to your scss
        background-color: #439b09; // Old browsers
        @include filter-gradient(#439b09, #186602, vertical); // IE6-9
        @include background-image(linear-gradient(top,  #439b09 0%,#186602 100%));
        color:#FFFFFF;
        border:1px solid #0b6306;
        min-width:190px;
    }
}
a:link, a:visited, a:hover, a:active{
    color:#666;
    text-decoration:none;
}
// Hide input number scroll (up/down arrow)
//input::-webkit-outer-spin-button,
//input::-webkit-inner-spin-button {
//    display: inline; 
//    @include appearance(none);
//    margin: 0; 
//    padding: 0;
//}
