@mixin input-placeholder($color) {
      &.placeholder {
        color: $color; 
        }
      &:-moz-placeholder {
        color: $color; 
        }
      &::-webkit-input-placeholder {
        color: $color; 
        } 
    }
div.chaseui-container{
    @include container;
}
@include with-grid-settings(20,4em,1em,0em) {
        div.chaseui-pagebody { @include container; }
};
div.chaseui-pagetitle{
    background-color:#061F58;
    background-image: url('../images/Headerbackground.svg');
    background-position-x: 0px;
    background-size: 100%;
    h2.chaseui-hero{
        @include span-columns(20,20);
        color:#fff;
        font-family: 'Interstate';
        font-size: 1.7em;
        padding:10px 0px;
        text-transform:uppercase;
        text-shadow: 0.1em 0.1em 0.05em #333;

    }
}
.chaseui-pagebody{
    background: url('/images/testbg.png');
    background-size:100%;
    @include bleed(2);
}
.leftnav{
    height:200px;
    background-color:#555;
    @include span-columns(5,20);
}
.rightblock{
    height:200px;
    @include span-columns(15 omega,20);
    .block1{
        height:100px;
        background-color:#000;
        @include span-columns(5,15);
    }
    .block2{
        height:100px;
        background-color:#111;
        @include span-columns(5,15);
    }
    .block3{
        height:100px;
        background-color:#222;
        @include span-columns(5 omega,15);
    }
}

.chaseui-form{
    margin-top:30px;
    @include span-columns(15,20);
   // background-color:#FFF;
    //@include opacity(0.9);
    &.step1, &.step2{
        display:none;
    }
    ul{
        margin:0px;
        padding:0px;
    }
    ul.chaseui-progress{
        list-style:none;
        margin-top:15px;
        li{
            width:25%;
            display:block;
            height:8px;
            background-color:#ccc;
            border:1px solid #83a0b7;
            text-indent:-99999px;
            float:left;
            &.completed{
                background-color:lightblue;
            }
            &.active{
                background-color:#025899;
            }
        }
        &:after{
            clear:both;    
        }
    }
    form{
        clear:both;
        div.chaseui-intro{
            @include span-columns(15 omega,15);
            padding-bottom: 20px;
            margin-bottom: 30px;
            border-bottom: 1px solid #ccc;
        }
        .chaseui-formnav{
            @include span-columns(15 omega,15);
            border-top: 1px solid #ccc;
            margin-bottom:100px;
            button{
                float:right;
                width:190px;
            }
        }
        div.inputwlabel{
            @include span-columns(6,15);
            label{
                font-size:0.6em;
                color:#777;
                float:left;
            }
            select{
                border-radius: 6px;
                border: 1px solid #9c9c9c;
                padding: 10px 5px;
                color: #666;
                background-color: #f2f2f2;
                font-size: 0.8em;
                font-family: verdana, helvetica, arial;
                margin-right: 16px;
                margin-bottom: 30px;
                height:38px;
            }
        }
        p.disclaimer{
            @include span-columns(15,15);
            display:block;
            text-align: center;
            font-size: 0.8em;
            color: #9f9f9f;
        }
        input{
            border-radius: 6px;
            border: 1px solid #9c9c9c;
            padding: 10px 5px;
            color: #666;
            background-color: #f2f2f2;
            font-size: 0.8em;
            font-family: verdana, helvetica, arial;
            @include input-placeholder(#666);
            margin-right: 16px;
            margin-bottom:30px;
            &.first_name{
                width:185px;
            }
            &.middle_name{
                width:30px;
            }
            &.last_name{
                width:185px;
            }
            &.suffix{
                width:30px;
            }
            &.address{
                width:300px;
            }
            &.city{
                width:235px;
            }
            &.state{
                width:110px;
            }
            &.zip{
                width:80px;
            }
            &.phone{
                width:185px;
            }
            &.dob{
                width:185px;
            }
        }   
    }
}






.zipcodehelp{
    font-size:0.7em;
    border:1px solid #ccc;
    width: 290px;
    display:none;
}
.chaseui-voice{
    @include span-columns(5 omega,20);
    margin:10px 0px;
    .inner{
        width: 50%;
        border: 1px solid #9f9f9f;
        font-size: 0.5em;
        background-color: #f0ede6;
        min-height: 265px;
        margin: 0 auto;
        border-radius: 10px;
        padding: 0px 30px;
        margin-top: 20px;
        h2{
            font-size:1.4em;
        }
    }
    &.step2, &.step3{
        display:none;
    }
}





//BREAK POINTS
@include at-breakpoint($mini) {
    .chaseui-voice{display:none;}
        .chaseui-pagebody{
        background-size: 300%;
        background-position-x: -320px;
    }
    div.chaseui-container{
        @include container;
    }
    @include with-grid-settings(20,4em,1em,0em) {
        div.chaseui-pagebody { @include container; }
    };
    .chaseui-form{
        @include span-columns(3,5);
        @include pad(1,1);
        //@include isolate(2);
        background-color:rgba(255, 255, 255, 0.8);
        .chaseui-fields{
            @include span-columns(8,8);
        }
        form{
            div.inputwlabel{
                @include span-columns(5,5);
                label{
                    width:100%;
                }
            }
        }
    }
    .chaseui-voice{
        @include span-columns(5,5);
        min-height:100px;
    } 
    div.chaseui-pagetitle{
        background-position-x: -145px;
        background-size: 150%;
    }
    .chaseui-form{
        margin-top:0px;
        ul.chaseui-progress{
            li{
                width:25%;
            }
        }
    }
    .chaseui-form{
        form{
            input{
                &.address{
                    width:90%;
                }
            }
        }
    }
}

@include at-breakpoint($mobile) {
    .chaseui-voice{display:none;}
    .chaseui-pagebody{
        background-size: 220%;
        background-position-x: -320px;
    }
    div.chaseui-container{
        @include container;
    }
    @include with-grid-settings(20,4em,1em,0em) {
        div.chaseui-pagebody { 
            @include container; 
        }
    };
    .chaseui-form{
        @include span-columns(4,8);
        @include pad(1,1);
        @include isolate(2);
        background-color:rgba(255, 255, 255, 0.8);
        .chaseui-fields{
            @include span-columns(8,8);
        }
            div.inputwlabel{
                @include span-columns(8,8);
                label{
                    width:100%;
                }
            }
    }
    .chaseui-voice{
        @include span-columns(8,8);
        min-height:100px;
    }
    div.chaseui-pagetitle{
        background-position-x: -145px;
        background-size: 150%;
    }
}
@include at-breakpoint($tablet) {
    .chaseui-pagebody{
        background-size: 190%;
        background-position-x: -320px;
    }
    div.chaseui-container{
        @include container;
    }
    @include with-grid-settings(20,4em,1em,0em) {
        div.chaseui-pagebody { @include container; }
    };
    .chaseui-form{
        @include span-columns(5,12);
        @include pad(1,1);
        @include isolate(2);
        background-color:rgba(255, 255, 255, 0.8);
        .chaseui-fields{
            @include span-columns(8,8);
        }
        div.chaseui-intro{
            @include span-columns(8 omega,8);
        }
    }
    .chaseui-voice{
        @include span-columns(4 omega,12);
    } 
 
}
@include at-breakpoint($desktopsmall) {
    .chaseui-pagebody{
        background-size: 150%;
        background-position-x: -320px;
    }
    div.chaseui-container{
        @include container;
    }
    @include with-grid-settings(20,4em,1em,0em) {
        div.chaseui-pagebody { @include container; }
    };
    .chaseui-form{
        @include span-columns(6,14);
        @include pad(1,1);
        @include isolate(3);
        background-color:rgba(255, 255, 255, 0.8);
        .chaseui-fields{
            @include span-columns(8,8);
        }
        div.chaseui-intro{
            @include span-columns(10 omega,10);
        }
    }
    .chaseui-voice{
        @include span-columns(4 omega,14);
    } 
}
@include at-breakpoint($desktopmedium) {
    div.chaseui-container{
        @include container;
    }
    @include with-grid-settings(20,4em,1em,0em) {
        div.chaseui-pagebody { @include container; }
    };
    .chaseui-form{        
        @include span-columns(6,16);
        @include pad(1,1);
        @include isolate(3);
        background-color:rgba(255, 255, 255, 0.8);
        .chaseui-fields{
            @include span-columns(8,8);
        }
    }
    .chaseui-voice{
        @include span-columns(5,16);
        @include isolate(11);
    } 
}
@include at-breakpoint($desktoplarge) {
    div.chaseui-container{
        @include container;
    }
    @include with-grid-settings(20,4em,1em,0em) {
        div.chaseui-pagebody { 
            @include container;
            max-width:120em;
        }
    };
    .chaseui-form{
        @include span-columns(6,20);
        @include pad(1,1);
        @include isolate(5);
        background-color:rgba(255, 255, 255, 0.8);
        .chaseui-fields{
            @include span-columns(8,8);
        }
    }
    .chaseui-voice{
        @include span-columns(5,20);
        @include isolate(13);

    }  
}
