@mixin input-placeholder($color) {
      &.placeholder {
        color: $color; 
        }
      &:-moz-placeholder {
        color: $color; 
        }
      &::-webkit-input-placeholder {
        color: $color; 
        } 
    }
div.chaseui-pagebody, div.chaseui-container{
    @include container;
}
div.chaseui-pagetitle{
    background-color:#061F58;
    background-image: url('../images/Headerbackground.svg');
    background-position-x: 0px;
    background-size: 100%;
    h2{
        @include span-columns(20,20);
        color:#fff;
        font-size: 1.7em;
        padding:10px 0px;
        text-shadow: 0.1em 0.1em 0.05em #333;

    }
}
.leftnav{
    height:200px;
    background-color:#555;
    @include span-columns(5,20);
}
.rightblock{
    height:200px;
    @include span-columns(15 omega,20);
    .block1{
        height:100px;
        background-color:#000;
        @include span-columns(5,15);
    }
    .block2{
        height:100px;
        background-color:#111;
        @include span-columns(5,15);
    }
    .block3{
        height:100px;
        background-color:#222;
        @include span-columns(5 omega,15);
    }
}

.chaseui-form{
    margin-top:30px;
    @include span-columns(15,20);
    &.step2, &.step3{
        display:none;
    }
    ul{
        margin:0px;
        padding:0px;
    }
    ul.chaseui-progress{
        list-style:none;
        li{
            width:25%;
            display:block;
            height:8px;
            background-color:#ccc;
            border:1px solid #83a0b7;
            text-indent:-99999px;
            float:left;
            &.completed{
                background-color:lightblue;
            }
            &.active{
                background-color:#025899;
            }
        }
        &:after{
            clear:both;    
        }
    }
    form{
        clear:both;
        div.chaseui-intro{
            @include span-columns(15 omega,15);
            padding-bottom: 20px;
            margin-bottom: 30px;
            border-bottom: 1px solid #ccc;
        }
        .chaseui-formnav{
            @include span-columns(15 omega,15);
            border-top: 1px solid #ccc;
            margin-bottom:100px;
            button{
                float:right;
                width:190px;
            }
        }
        input{
            border-radius: 6px;
            border: 1px solid #9c9c9c;
            padding: 10px 5px;
            color: #666;
            background-color: #f2f2f2;
            font-size: 0.8em;
            font-family: verdana, helvetica, arial;
            @include input-placeholder(#666);
            margin-right: 16px;
            margin-bottom:30px;
            &.first_name{
                width:185px;
            }
            &.middle_name{
                width:30px;
            }
            &.last_name{
                width:185px;
            }
            &.suffix{
                width:30px;
            }
            &.address{
                width:300px;
            }
            &.city{
                width:235px;
            }
            &.state{
                width:110px;
            }
            &.zip{
                width:80px;
            }
            &.phone{
                width:185px;
            }
            &.dob{
                width:185px;
            }
        }   
    }
}







.zipcodehelp{
    font-size:0.7em;
    border:1px solid #ccc;
    width: 290px;
    display:none;
}
.chaseui-voice{
    @include span-columns(5 omega,20);
    margin:10px 0px;
    .inner{
        width:75%;
        border:1px solid #333;
        font-size:0.5em; 
        background-color:#f0ede6;
        min-height:565px;
        margin:0 auto;
        border-radius:15px;
        padding:0px 30px;
    }
    &.step2, &.step3{
        display:none;
    }
}





//BREAK POINTS
@include at-breakpoint($mini) {
    .chaseui-voice{display:none;}
    div.chaseui-pagebody, div.chaseui-container{
        @include container;
    }
    .chaseui-form{
        @include span-columns(5,5);
        .chaseui-fields{
            @include span-columns(5,5);
        }
    }
    .chaseui-voice{
        @include span-columns(5,5);
        min-height:100px;
    } 
    div.chaseui-pagetitle{
        background-position-x: -145px;
        background-size: 150%;
    }
    .chaseui-form{
        ul.chaseui-progress{
            li{
                width:25%;
            }
        }
    }
    .chaseui-form{
        form{
            input{
                &.address{
                    width:90%;
                }
            }
        }
    }
}

@include at-breakpoint($mobile) {
    .chaseui-voice{display:none;}
    div.chaseui-pagebody, div.chaseui-container{
        @include container;
    }
    .chaseui-form{
        @include span-columns(8,8);
        input{width:30px;}
        form{
            .chaseui-fields{
                @include span-columns(6,8);
            }
        }
    }
    .chaseui-voice{
        @include span-columns(8,8);
        min-height:100px;
    }
    div.chaseui-pagetitle{
        background-position-x: -145px;
        background-size: 150%;
    }
}
@include at-breakpoint($tablet) {
    div.chaseui-pagebody, div.chaseui-container{
        @include container;
    }
    .chaseui-form{
        @include span-columns(8,12);
        .chaseui-fields{
                @include span-columns(8,8);

            }
        div.chaseui-intro{
            @include span-columns(8 omega,8);
        }
    }
    .chaseui-voice{
        @include span-columns(4 omega,12);
    } 
 
}
@include at-breakpoint($desktopsmall) {
    div.chaseui-pagebody, div.chaseui-container{
        @include container;
    }
    .chaseui-form{
        @include span-columns(10,14);
        .chaseui-fields{
            @include span-columns(8,10);
        }
        div.chaseui-intro{
            @include span-columns(10 omega,10);
        }
    }
    .chaseui-voice{
        @include span-columns(4 omega,14);
    } 
}
@include at-breakpoint($desktopmedium) {
    div.chaseui-pagebody, div.chaseui-container{
        @include container;
    }
    .chaseui-form{
        @include span-columns(12,16);
        .chaseui-fields{
            @include span-columns(8,12);
        }
    }
    .chaseui-voice{
        @include span-columns(4 omega,16);
    } 
}
@include at-breakpoint($desktoplarge) {
    div.chaseui-pagebody, div.chaseui-container{
        @include container;
    }
    .chaseui-form{
        @include span-columns(15,20);
        .chaseui-fields{
            @include span-columns(8,15);
        }
    }
    .chaseui-voice{
        @include span-columns(5 omega,20);
    }  
}
