@mixin input-placeholder($color) {
  &.placeholder {
    color: $color; 
    }
  &:-moz-placeholder {
    color: $color; 
    }
  &::-webkit-input-placeholder {
    color: $color; 
    } 
}

body{
    //overflow:hidden;
}




div.chaseui-pagebody { 

 //   @include bleed(2);
}
