//BREAK POINTS


@include at-breakpoint($mobile) {
    .chaseui-voice{display:none;}
    .chaseui-pagebody{
        background-size: 220%;
        background-position-x: -320px;
    }
    div.chaseui-container{
        @include container;
    }
    @include with-grid-settings(20,4em,1em,0em) {
        div.chaseui-pagebody { 
            @include container; 
        }
    };
    .chaseui-form{
        @include span-columns(4,8);
        @include pad(1,1);
        @include isolate(2);
        background-color:rgba(255, 255, 255, 0.8);
        .chaseui-fields{
            @include span-columns(8,8);
        }
            div.inputwlabel{
                @include span-columns(8,8);
                label{
                    width:100%;
                }
            }
    }
    .chaseui-voice{
        @include span-columns(8,8);
        min-height:100px;
    }
    div.chaseui-pagetitle{
        background-position-x: -145px;
        background-size: 150%;
    }
}
@include at-breakpoint($tablet) {
    .chaseui-pagebody{
        background-size: 190%;
        background-position-x: -320px;
    }
    div.chaseui-container{
        @include container;
    }
    @include with-grid-settings(20,4em,1em,0em) {
        div.chaseui-pagebody { @include container; }
    };
    .chaseui-form{
        @include span-columns(5,12);
        @include pad(1,1);
        @include isolate(2);
        background-color:rgba(255, 255, 255, 0.8);
        .chaseui-fields{
            @include span-columns(8,8);
        }
        div.chaseui-intro{
            @include span-columns(8 omega,8);
        }
    }
    .chaseui-voice{
        @include span-columns(4 omega,12);
    } 
 
}
@include at-breakpoint($desktopsmall) {
    .chaseui-pagebody{
        background-size: 150%;
        background-position-x: -320px;
    }
    div.chaseui-container{
        @include container;
    }
    @include with-grid-settings(20,4em,1em,0em) {
        div.chaseui-pagebody { @include container; }
    };
    .chaseui-form{
        @include span-columns(6,14);
        @include pad(1,1);
        @include isolate(3);
        background-color:rgba(255, 255, 255, 0.8);
        .chaseui-fields{
            @include span-columns(8,8);
        }
        div.chaseui-intro{
            @include span-columns(10 omega,10);
        }
    }
    .chaseui-voice{
        @include span-columns(4 omega,14);
    } 
}
@include at-breakpoint($desktopmedium) {
    div.chaseui-container{
        @include container;
    }
    @include with-grid-settings(20,4em,1em,0em) {
        div.chaseui-pagebody { @include container; }
    };
    .chaseui-form{        
        @include span-columns(6,16);
        @include pad(1,1);
        @include isolate(3);
        background-color:rgba(255, 255, 255, 0.8);
        .chaseui-fields{
            @include span-columns(8,8);
        }
    }
    .chaseui-voice{
        @include span-columns(5,16);
        @include isolate(11);
    } 
}
@include at-breakpoint($desktoplarge) {
    div.chaseui-container{
        @include container;
    }
    @include with-grid-settings(20,4em,1em,0em) {
        div.chaseui-pagebody { 
            @include container;
            max-width:120em;
        }
    };
    .chaseui-form{
        @include span-columns(6,20);
        @include pad(1,1);
        @include isolate(5);
        background-color:rgba(255, 255, 255, 0.8);
        .chaseui-fields{
            @include span-columns(8,8);
        }
    }
    .chaseui-voice{
        @include span-columns(5,20);
        @include isolate(13);

    }  
}

//breakpoints

@include at-breakpoint($mobile) {
    header h1{
        @include span-columns(3,8);
        font-size:1.8em;
        margin-top:0.3em;
        margin-bottom:0.3em;
    }
    header ul{
        font-size:0.5em;
        @include span-columns(5 omega,8);
        li{
            padding:0px 10px;
            margin-top:15px;
        }
    }
}
@include at-breakpoint($tablet) {
    header h1{
        @include span-columns(3,12);
        font-size:2.0em;
        margin-top:0.1em;
        margin-bottom:0.1em;
        img{
            width:140px;
        }
    }
    header ul{
        font-size:0.6em;
        @include span-columns(6 omega,12);
        li{
            padding:0px 10px;
            margin-top:18px;
        }
    }
}
@include at-breakpoint($desktopsmall) {
    header h1{
        @include span-columns(4,14);
        font-size:2.4em;
        margin-top:0.2em;
        margin-bottom:0.2em;
        img{
            width:150px;
        }
    }
    header ul{
        font-size:0.8em;
        @include span-columns(7 omega,14);
        li{
            padding:0px 10px;
            margin-top:28px;
        }
    }
}
@include at-breakpoint($desktopmedium) {
    header h1{
        @include span-columns(4,16);
        font-size:2.6em;
        margin-top:0.1em;
        margin-bottom:0.1em;
        img{
            width:160px;
        }
    }
    header ul{
        font-size:0.8em;
        @include span-columns(8 omega,16);
        li{
            padding:2px 10px;
            margin-top:28px;
        }
    }
}

