header{
    position:fixed;
    z-index:999999;
    margin:0px;
    padding:0px;
    width:100%;
    top:0px;
    h1{        
        background-color:#003366;
        @include span-columns(3,20);
        @include isolate(6);
        max-width:250px;
        margin-top:0px;
        margin-bottom:0px;
        padding-top:0px;
    }
}
// BREAK POINTS
@include at-breakpoint($mini) {
    .chaseui-container, .chaseui-pagebody{
        @include container;
   //     @include susy-grid-background;

    }
    header{
        h1{
    
            background-color:#003366;
            @include span-columns(3,5);
            @include isolate(1);
            margin-top:0px;
            margin-bottom:0px;
            padding-top:0px;
            text-align:center;
            img{
                width:80%;
            }
        }
    }
}
@include at-breakpoint($mobile) {
    .chaseui-container, .chaseui-pagebody{
        @include container;
     //   @include susy-grid-background;
    }
    header{
        h1{
    
            background-color:#003366;
            @include span-columns(3,8);
            @include isolate(2);
            margin-top:0px;
            margin-bottom:0px;
            padding-top:0px;
            text-align:center;
            img{
                width:80%;
            }
        }
    }
}
@include at-breakpoint($tablet) {
    .chaseui-container, .chaseui-pagebody{
        @include container;
     //   @include susy-grid-background;
    }
    header{
        h1{
    
            background-color:#003366;
            @include span-columns(4,12);
            @include isolate(3);
            margin-top:0px;
            margin-bottom:0px;
            padding-top:0px;
            text-align:center;
            img{
                width:80%;
            }
        }
    }
}
@include at-breakpoint($desktopsmall) {
    .chaseui-container, .chaseui-pagebody{
        @include container;
   //     @include susy-grid-background;
    }
    header{
        h1{
    
            background-color:#003366;
            @include span-columns(3,14);
            @include isolate(4);
            margin-top:0px;
            margin-bottom:0px;
            padding-top:0px;
            text-align:center;
            img{
                width:80%;
            }
        }
    }
}
@include at-breakpoint($desktopmedium) {
   .chaseui-container, .chaseui-pagebody{
        @include container;
      //  @include susy-grid-background;
    }
header{
        h1{
    
            background-color:#003366;
            @include span-columns(3,16);
            @include isolate(5);
            margin-top:0px;
            margin-bottom:0px;
            padding-top:0px;
            img{
                margin-left:40px;
            }
        }
    }
}
@include at-breakpoint($desktoplarge) {
    .chaseui-container, .chaseui-pagebody{
        @include container;
       // @include susy-grid-background;
    }
header{
        h1{
    
            background-color:#003366;
            @include span-columns(3,20);
            @include isolate(6);
            margin-top:0px;
            margin-bottom:0px;
            padding-top:0px;
            img{
                margin-left:40px;
            }
        }
    }
}





