.headerbgimg{
        overflow:hidden;
        img{
          //  width:100%;
        }
    }
header{
    position:fixed;
    z-index:999999;
    margin:0px;
    padding:0px;
    width:100%;
    top:0px;
    height:5px;
    background-color:#0084CB;
    h1{        
        @include span-columns(3,16);
        @include isolate(2);
        max-width:250px;
        margin-top:0px;
        margin-bottom:0px;
        padding-top:0px;
    }
}
// BREAK POINTS
@include at-breakpoint($mini) {
    .chaseui-container, .chaseui-pagebody{
        @include container;
        //@include susy-grid-background;

    }
    .headerbgimg img{
        height:80px;
        margin-left: -888px;
    }
    header{
        h1{
            @include span-columns(3,5);
            @include isolate(1);
            margin-top:0px;
            margin-bottom:0px;
            padding-top:0px;
            text-align:center;
            img{
                width:80%;
            }
        }
    }
}

@include at-breakpoint($desktopmedium) {
   .chaseui-container{
        @include container;
       // @include susy-grid-background;
    }
     .chaseui-pagebody{
    
    }
header{
        h1{
    
            @include span-columns(3,16);
            @include isolate(2);
            margin-top:0px;
            margin-bottom:0px;
            padding-top:0px;
            img{
                
            }
        }
    }
}