.chaseui-pagebody.step2{
    position:relative;
    background-color:#FFF;
    background-image: url('../images/bg_twoN.jpg');
    background-attachment:fixed;
    background-repeat:no-repeat;
 
    height:600px;
    overflow-y:scroll;
    overflow-x:hidden;
    div.chaseui-container{
        height:1900px;
    }
}
#voice2{
    position:relative;
    font-weight:normal;
    top:200px;
    color:#FFF;
    font-size:1.125em;
    background-color:rgba(0, 51, 102, 0.9);
    @include span-columns(4,16);
    @include isolate(2);
}
.help{
    margin-left:20px;
    margin-top:10px;
    font-size:0.6em;
    span{
        margin-top: -35px;
        display: block;
        margin-bottom: 35px;
        margin-left: 50px;
    }
}
.one {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
}

.two {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
}

.three {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
}

@-webkit-keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}

.voicedetails{
    display:block;
    padding:20px;
}
#form2{
    position:relative;
    top:200px;
    background-color:rgba(255, 255, 255, 0.75);
    @include span-columns(9,16);
    @include isolate(6);
    button{
        width:280px;
        margin:40px 40px 40px 130px;
        text-align:center;
    }
    div.sublabel{
        display:none;
    }
    h3{
        font-size:1.5em;
        margin-top:0px;
        margin-bottom:30px;
        font-weight:normal;
        color:#43444E;
        strong{
            font-weight:bold;
        }
    }
    form{
        padding:40px;
        label{
            display:none;
        }
        input, select{
            border-radius:0;
            border:2px solid #ccc;
            padding:8px;
            color:#000;
            margin:0px 0px;
            background-color:rgba(255, 255, 255, 0.2);
            &.placeholder {
                color: #000; 
            }
            &:-moz-placeholder {
                color: #000; 
            }
            &::-webkit-input-placeholder {
                color: #000; 
            } 
        }
        .first_name{
            width:83%;
            border-right:none;
            padding:2%;
            background-color:rgba(255, 255, 255, 1);

        }
        .middle_name{
            width:7%;
            padding:2%;
            margin-left:-5px;
            border-right:2px solid #CCC;
            background-color:rgba(255, 255, 255, 1);
        }
        .last_name{
            width:94%;
            padding:2%;
            border-top:none;
            margin-top:1px;
            background-color:rgba(255, 255, 255, 1);
        }
        .address{
            width:83%;
            padding:2%;
            margin-top:24px;
            border-right:none;
            background-color:rgba(255, 255, 255, 1);
        }
        .plussign{
            width:7%;
            padding:2%;
            margin-left:-5px;
            border:2px solid #CCC;
            border-radius:0;
            display:inline-block;
            font-size:1em;
            font-family: "Chase";
            min-height:18px;
            background-color:rgba(255, 255, 255, 1);
            i:after{
                content: '\002b';
                padding-left:30%;
                color:#CCC;
            }
        }
        .city{
            width:39%;
            padding:2%;
            top:-3px;
            position:relative;
            border-right:2px solid #CCC;
            background-color:rgba(255, 255, 255, 1);
        }
        .state{
            width:23%;
            margin-left:-4px;
            padding:2%;
            top:-3px;
            position:relative;
            border-right:none;
            border-left:none;
            background-color:rgba(255, 255, 255, 1);
        }
        .zip{
            width:24%;
            padding:2% 2% 2% 11px;
            margin-top:2px;
            margin-left:-5px;
            top:-3px;
            position:relative;
            border-right:2px solid #CCC;
            background-color:rgba(255, 255, 255, 1);
        }
        .phonetype{
            width:24%;
            border-radius:0;
            border:2px solid #ccc;
            padding:2%;
            color:#000;
            margin:0px 0px;
            background-color:rgba(255, 255, 255, 1);
            -webkit-appearance:none;
        }
        .phone{
            width:60%;
            padding:2%;
            margin-top:24px;
            margin-left:-10px;
            border-left:2px solid #CCC;
            border-right:none;
            background-color:rgba(255, 255, 255, 1);
        }
        .dob{
            width:94%;
            padding:2%;
            margin-top:24px;
            background-color:rgba(255, 255, 255, 1);
        }
    }
}

@include at-breakpoint($mini) {
.chaseui-pagebody.step2{
    div.chaseui-container{
        height:1600px;
    }
}
    #voice2{
    display:none;
    }
    .help{
        margin-left:20px;
        margin-top:10px;
        font-size:0.6em;
        span{
            margin-top: -35px;
            display: block;
            margin-bottom: 35px;
            margin-left: 50px;
        }
    }
    #form2{
        @include span-columns(5 omega,5);
        top:60px;
        background-color: rgba(255, 255, 255, 0);
        button{
            min-width:257px;
            width:257px;
            margin:40px 40px 40px 0px;
            text-align:center;
        }
        h3{
            font-size:1.3em;
            margin-bottom:10px;
        }
        form{
            padding:0px;
            padding-top:20px;
            .first_name{
                width:80%;
                padding:5% 2%;
                background-color:rgba(255, 255, 255, 0.85);

            }
            .middle_name{
                width:10%;
                padding:5% 2%;
                margin-left:-5px;
                background-color:rgba(255, 255, 255, 0.85);
            }
            .last_name{
                width:94%;
                padding:5% 2% 5% 7px;
                background-color:rgba(255, 255, 255, 0.85);
            }
            .address{
                width:95%;
                padding:5% 2% 5% 4px;
                margin-top:15px;
                border-right:2px solid #CCC;
                background-color:rgba(255, 255, 255, 0.85);
            }
            .city{
                width:35%;
                padding:5% 2%;
                margin-top:2px;
                background-color:rgba(255, 255, 255, 0.85);
            }
            .plussign{
                display:none;
            }
            .state{
                width:19%;
                padding:5% 2%;
                margin-left:-4px;
                background-color:rgba(255, 255, 255, 0.85);
            }
            .zip{
                width:31%;
                padding:5% 2%;
                margin-top:2px;
                margin-left:-5px;
                border-right:2px solid #CCC;
                background-color:rgba(255, 255, 255, 0.85);
            }
            .phonetype{
                padding:5% 2%;
                width:40%;
                background-color:rgba(255, 255, 255, 0.85);
            }
            .phone{
                width:55%;
                margin-left:-6px;
                padding:5% 2%;
                margin-top:15px;
                border-right:2px solid #CCC;
                background-color:rgba(255, 255, 255, 0.85);
            }
            .dob{
                width:94%;
                padding:5% 2%;
                margin-top:15px;
                background-color:rgba(255, 255, 255, 0.85);
            }
        }
    }
}
@include at-breakpoint($desktopmedium) {
//16
    #form2{
        position:relative;
        top:200px;
        background-color:rgba(255, 255, 255, 0.75);
        @include span-columns(9,16);
        @include isolate(6);
    }
}