.chaseui-pagebody.step3{
    position:relative;
    background-color:#ddd;
    background-image: url('../images/bng_test_image3.jpg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    height:600px;
    overflow-y:scroll;
    overflow-x:hidden;
}
#voice3{
    position:relative;
    font-weight:normal;
    top:775px;
    color:#FFF;
    font-size:1.125em;
    background-color:rgba(0, 51, 102, 0.9);
    @include span-columns(4,16);
    @include isolate(2);
}
.help{
    margin-left:20px;
    margin-top:10px;
    font-size:0.6em;
    span{
        margin-top: -35px;
        display: block;
        margin-bottom: 35px;
        margin-left: 50px;
    }
}
#form3{
    position:relative;
    top:775px;
    background-color:rgba(255, 255, 255, 0.75);
    @include span-columns(9,16);
    @include isolate(6);
    button{
        width:280px;
        margin:40px 40px 40px 130px;
        text-align:center;
    }
    div.sublabel{
        display:none;
    }
    form{
        padding:40px;
        h3{
            font-size:1.5em;
            margin-top:0px;
            margin-bottom:30px;
            font-weight:normal;
            color:#43444E;
            strong{
                font-weight:bold;
            }
        }
        label{
            color:#43444E;
            text-align:left;
            display:block;
            font-size:1em;
            margin-bottom:-5px;
        }
        input, select{
            border-radius:0;
            border:none;
            padding:8px;
            color:#000;
            margin:0px 0px;
            background-color:rgba(255, 255, 255, 1);
            &.placeholder {
                color: #000; 
            }
            &:-moz-placeholder {
                color: #000; 
            }
            &::-webkit-input-placeholder {
                color: #000; 
            } 
        }
        .floatleft{
            float:left;
            width:50%;
            clear:left;
        }
        .floatright{
            float:right;
            width:50%;
        }
        p{
            clear:both;
            margin-top:25px;
            color:#FFF;
            padding:25px;
        }
        .ssn{
            width:85%;
            border-right:5px solid #FFF;
            padding:4%;
            background-color:rgba(255, 255, 255, 1);
            margin-bottom:20px;

        }
        .income{
            width:90%;
            border-right:5px solid #FFF;
            padding:4%;
            background-color:rgba(255, 255, 255, 1);
            margin-bottom:20px;
        }
        .rent{
            width:85%;
            margin-top:10px;
            border-right:5px solid #FFF;
            padding:4%;
            margin-bottom:32px;
            background-color:rgba(255, 255, 255, 1);
        }
        .amount{
            width:90%;
            margin-top:10px;
            border-right:5px solid #FFF;
            padding:4%;
            background-color:rgba(255, 255, 255, 1);
        }
    }
}


@include at-breakpoint($mini) {
//5
    #voice3{
    display:none;
    }
    .help{
        margin-left:20px;
        margin-top:0px;
        font-size:0.6em;
        span{
            margin-top: -35px;
            display: block;
            margin-bottom: 35px;
            margin-left: 50px;
        }
    }
    #form3{
        @include span-columns(5 omega,5);
        top:60px;
        background-color:rgba(255, 255, 255, 0);
        button{
            min-width:257px;
            width:257px;
            margin:40px 40px 40px 0px;
            text-align:center;
        }
        form{
            padding:0px;
            padding-top:40px;
            .floatleft{
                width:100%;
            }
            .floatright{
                width:100%;
            }
            h3{
                font-size:1.3em;
                margin-bottom:20px;
            }
            .ssn, .income, .rent, .amount{
                width:94%;
                padding:5% 2%;
                border-right:none;
                margin-top:5px;
                margin-bottom:5px;
                background-color:rgba(255, 255, 255, 0.85);

            }
        }
    }
}
@include at-breakpoint($desktopmedium) {
//16
    #form3{
        @include span-columns(9,16);
        @include isolate(6);
    }
}




//voice
.chaseui-pagebody.voice{
    background-color:#FFF;
    background-size:auto;
    position:relative;
    height:600px;
    .chaseui-voicetext{
        width:100%;
        height: 400px;
        background-color: #0084CB;
        position: relative;
        top: 25%;      
        .chaseui-inner{
            color: #FFF;
            font-size: 2.375em;
            max-width: 900px;
            margin: 0 auto;
            padding-top: 145px;
        }
    }
}